@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.head {
  width: 10rem;
  height: 10rem;
  background: url("../img/商1.webp");
  background-size: 10rem 10rem;
  display: flex;
  justify-content: space-between;
}

.head > span {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #666666;
  z-index: 99;
  margin: 0.26667rem;
}

.head > span > i {
  font-size: 0.53333rem;
  color: #fff;
  margin-left: 0.13333rem;
  line-height: 0.8rem;
}

.chang {
  width: 10rem;
  height: 1.33333rem;
}

.chang > img {
  width: 10rem;
  height: 1.33333rem;
}

.jiang {
  width: 10rem;
  height: 0.93333rem;
  display: flex;
  margin-top: 0.26667rem;
}

.jiang > span {
  font-size: 0.66667rem;
  color: #f2270c;
  margin-right: 4.8rem;
}

.jiang .tu {
  width: 1.06667rem;
  height: 0.8rem;
}

.jiang .tu > i {
  font-size: 0.53333rem;
}

.zi {
  width: 9.73333rem;
  height: 1.65333rem;
}

.zi > p {
  font-size: 0.42667rem;
  color: #262626;
  margin-left: 0.26667rem;
  font-weight: bold;
}

.sp {
  width: 9.73333rem;
  height: 1.28rem;
  margin-top: 0.53333rem;
}

.sp > p {
  color: #666666;
  font-size: 0.34667rem;
  margin-left: 0.32rem;
}

.hui {
  width: 10rem;
  height: 138.66667rem;
  background-color: #e9e8e8;
  overflow: hidden;
}

.hui .count {
  width: 9.6rem;
  height: 1.86667rem;
  background-color: #fff;
  border-radius: 0.26667rem;
  margin-top: 0.4rem;
  padding-left: 0.4rem;
  padding-top: 0.34667rem;
  display: flex;
}

.hui .count .you {
  width: 0.8rem;
  height: 1.86667rem;
}

.hui .count .you > p {
  font-size: 0.34667rem;
  color: #262626;
  font-weight: bold;
  text-align: center;
}

.hui .count .hu {
  margin-left: 0.26667rem;
  margin-top: 0.10667rem;
}

.hui .count .hu > p:nth-child(1) > span {
  padding: 0 0.16rem;
  border: 1px solid #ff8373;
  border-radius: 0.06667rem;
  height: 0.4rem;
  color: #f2270c;
  font-size: 0.26667rem;
  margin-right: 0.21333rem;
}

.hui .count .hu > p:nth-child(2) {
  margin-top: 0.42667rem;
}

.hui .count .hu > p:nth-child(2) > span:nth-child(1) {
  padding: 0 0.16rem;
  border: 1px solid #ff8373;
  border-radius: 0.06667rem;
  height: 0.4rem;
  color: #f2270c;
  font-size: 0.26667rem;
}

.hui .floor {
  width: 9.06667rem;
  height: 6.45333rem;
  background-color: #fff;
  border-radius: 0.26667rem;
  margin-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.48rem;
  position: relative;
}

.hui .floor .addr {
  width: 9.06667rem;
  height: 1.54667rem;
  border-bottom: 1px solid #ece9e9;
  display: flex;
}

.hui .floor .addr > h3 {
  width: 0.93333rem;
  height: 1.54667rem;
  text-align: center;
  line-height: 1.54667rem;
}

.hui .floor .addr span {
  margin-top: 0.10667rem;
  background: #fff;
  padding: 0.48rem 0;
  font-size: 13px;
  color: #6d6b6b;
  margin-left: 0.26667rem;
}

.hui .floor .adde {
  width: 9.06667rem;
  height: 1.97333rem;
  border-bottom: 1px solid #ece9e9;
  display: flex;
}

.hui .floor .adde > h3 {
  width: 0.93333rem;
  height: 1.97333rem;
  text-align: center;
  line-height: 1.97333rem;
}

.hui .floor .adde > div {
  width: 7.46667rem;
  height: 1.6rem;
  margin-top: 0.26667rem;
}

.hui .floor .adde > div p {
  width: 7.46667rem;
  margin-top: 0.10667rem;
  background: #fff;
  font-size: 13px;
  color: #504f4f;
  margin-left: 0.26667rem;
}

.hui .floor .addt {
  width: 10rem;
  height: 1.28rem;
  border-bottom: 1px solid #ece9e9;
  background-color: #f7f5f5;
  border-radius: 0.26667rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hui .floor .addt > ul {
  width: 10rem;
  height: 1.28rem;
  padding-left: 0.53333rem;
  padding-top: 0.13333rem;
}

.hui .floor .addt > ul > li {
  color: #8c8c8c;
  font-size: 0.32rem;
  float: left;
  margin-right: 0.26667rem;
}

.hui .comment {
  width: 9.04rem;
  height: 19.52rem;
  background-color: #fff;
  border-radius: 0.26667rem;
  margin-top: 0.66667rem;
  padding: 0 0.48rem;
}

.hui .comment .title {
  width: 9.04rem;
  height: 1.2rem;
}

.hui .comment .title > span:nth-child(1) {
  font-size: 0.42667rem;
  color: #262626;
  line-height: 1.2rem;
  font-weight: bold;
}

.hui .comment .title > span:nth-child(2) {
  font-size: 0.34667rem;
  color: #262626;
  margin-right: 4.53333rem;
  line-height: 1.2rem;
}

.hui .comment .title > span:nth-child(3) {
  font-size: 0.34667rem;
  color: #262626;
  line-height: 1.2rem;
}

.hui .comment .eval {
  width: 9.04rem;
  height: 2.21333rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hui .comment .eval > span {
  width: 2.56rem;
  height: 0.8rem;
  background: #fcedeb;
  border-radius: 0.4rem;
  text-align: center;
  line-height: 0.8rem;
}

.hui .comment .xiaoren {
  width: 9.04rem;
  height: 6.4rem;
  border-bottom: 1px solid #ccc;
}

.hui .comment .xiaoren .xitop {
  width: 9.04rem;
  height: 0.56rem;
  line-height: 0.56rem;
  margin-top: 0.16rem;
  display: flex;
  justify-content: space-around;
}

.hui .comment .xiaoren .xitop > i:nth-child(1) {
  margin-left: 0.26667rem;
  margin-right: 0.26667rem;
}

.hui .comment .xiaoren .xitop > i:nth-child(2) {
  margin-left: 0.13333rem;
  font-size: 0.4rem;
  color: #f2270c;
}

.hui .comment .xiaoren .xicen {
  width: 9.04rem;
  height: 1.54667rem;
  margin-top: 0.4rem;
}

.hui .comment .xiaoren .xicen > p {
  font-size: 0.34667rem;
}

.hui .comment .xiaoren .phoned {
  width: 9.04rem;
  height: 2.13333rem;
  margin-top: 0.26667rem;
}

.hui .comment .xiaoren .phoned > img {
  width: 2.13333rem;
  height: 2.13333rem;
  border-radius: 0.16rem;
  margin-right: 0.05333rem;
}

.hui .comment .xiaoren .ping {
  width: 2.66667rem;
  height: 0.66667rem;
  line-height: 0.66667rem;
  font-size: 0.34667rem;
  color: #262626;
  margin-left: 3.2rem;
  margin-top: 0.26667rem;
  text-align: center;
  border-radius: 1.06667rem;
  border: 1px solid #ccc;
}

.hui .comment .xifoot > p {
  width: 9.04rem;
  height: 0.53333rem;
  margin-top: 0.13333rem;
}

.hui .comment .xifoot > p > span:nth-of-type(1) {
  margin-right: 4.8rem;
}

.hui .shop {
  width: 9.6rem;
  height: 5.33333rem;
  background-color: #fff;
  border-radius: 0.26667rem;
  margin-top: 0.4rem;
  padding-left: 0.4rem;
  padding-top: 0.34667rem;
}

.hui .shop .shoplogo {
  width: 9.6rem;
  height: 1.06667rem;
  display: flex;
  margin-top: 0.26667rem;
}

.hui .shop .shoplogo > img {
  width: 1.06667rem;
  height: 1.06667rem;
  margin-right: 0.26667rem;
}

.hui .shop .shopcen {
  width: 9.6rem;
  height: 1.44rem;
  display: flex;
  justify-content: space-around;
}

.hui .shop .shopcen .can {
  width: 3.52rem;
  height: 1.6rem;
  margin-top: 0.26667rem;
  text-align: center;
  border-right: 1px solid #ccc;
}

.hui .shop .shopcen .can > p {
  font-size: 0.37333rem;
  color: #333333;
  margin-top: 0.26667rem;
}

.hui .shop .shopcen .cann {
  width: 1.97333rem;
  height: 1.44rem;
  margin-top: 0.53333rem;
}

.hui .shop .shopcen .cann > p {
  color: #f2270c;
}

.hui .shop .shopdi {
  width: 5.57333rem;
  height: 0.8rem;
  margin-top: 1.33333rem;
  margin-left: 2.13333rem;
}

.hui .shop .shopdi > span {
  width: 2.77333rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  margin-right: 0.26667rem;
  font-size: 0.32rem;
  color: #333333;
  padding: 0.13333rem 0.32rem;
}

.hui .detal {
  width: 9.6rem;
  height: 11.6rem;
  background-color: #fff;
  border-radius: 0.26667rem;
  margin-top: 0.4rem;
  padding-left: 0.4rem;
  padding-top: 0.34667rem;
}

.hui .detal .daltop {
  width: 9.6rem;
  height: 1.2rem;
}

.hui .detal .daltop > p {
  font-size: 0.4rem;
  color: #333333;
  font-weight: bold;
}

.hui .detal .mall {
  width: 9.04rem;
  height: 9.76rem;
}

.hui .detal .mall .swiper-slide {
  width: 9.04rem;
  height: 9.76rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hui .detal .mall .swiper-slide .xihuan {
  width: 2.93333rem;
  height: 4.8rem;
}

.hui .detal .mall .swiper-slide .xihuan > img {
  width: 2.93333rem;
  height: 2.93333rem;
}

.hui .detal .mall .swiper-slide .xihuan > p:nth-of-type(1) {
  color: #333333;
  font-size: 0.32rem;
}

.hui .detal .mall .swiper-slide .xihuan > p:nth-of-type(2) {
  color: #f2270c;
  font-size: 0.37333rem;
}

.hui .shao {
  width: 10rem;
  height: 1.62667rem;
  background-color: #fff;
  border-radius: 0.26667rem;
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.hui .shao span {
  width: 3.33333rem;
  height: 1.62667rem;
  text-align: center;
  line-height: 1.6rem;
  color: #333333;
  font-size: 0.37333rem;
  font-weight: bold;
}

.hui .ditu {
  font-size: 0rem;
}

.hui .ditu > img {
  width: 10rem;
  display: inline-block;
}

.footer {
  width: 10rem;
  height: 1.33333rem;
  background-color: #fdfdfd;
  border-top: #ccc 1px solid;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.footer .foot {
  width: 1.38667rem;
  height: 1.33333rem;
  text-align: center;
  margin-top: 0.21333rem;
}

.footer .foot > i {
  color: #797979;
  font-size: 0.53333rem;
}

.footer .foot > p {
  color: #797979;
  font-size: 0.32rem;
}

.footer .foott {
  width: 2.74667rem;
  height: 1.01333rem;
  border-radius: 0.53333rem;
  background-color: #f2270c;
  margin-top: 0.13333rem;
}

.footer .foott > p {
  color: #fff;
  font-size: 0.42667rem;
  text-align: center;
  line-height: 1.01333rem;
}

.footer .ffoott {
  width: 2.74667rem;
  height: 1.01333rem;
  border-radius: 0.53333rem;
  background-color: #ffba0d;
  margin-top: 0.13333rem;
}

.footer .ffoott > p {
  color: #fff;
  font-size: 0.42667rem;
  text-align: center;
  line-height: 1.01333rem;
}
